/*-- Body Reset --*/

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* .container {
  border: 2px red solid;
} */

a {
  text-decoration: none;
  font-weight: 600;
}

/*============= TOP BAR HEADER =============*/

.tb-item {
  display: flex;
  color: #bbbdc3;
}

.tb-item a:hover {
  text-decoration: none;
  color: #f47629!important;
}

/*============= NAVIGATION =============*/

.navbar-brand {
  color: #303442!important;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.active>.nav-link, .nav-link:hover {
  color: #28a745!important;
}

/*============= CAROUSEL =============*/

.carousel-caption {
  top: 30%;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.carousel-caption p {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

/* form */

.myform>input {
  margin: 0.5rem;
  border: none;
}

/*============= FOOTER =============*/

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {}

/* Devices under 768px (md) */

@media (max-width: 767.98px) {
  .top-bar>.container {
    padding-right: 0;
    padding-left: 0
  }
}

@media (max-width: 576px) {
  .top-bar>.container {
    padding: 0 1rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/

.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* font-family: 'Poppins', sans-serif; */